html{
  font-size: $base-fz;

  @include tablets{
    font-size: $base-fz - 1px;
  }
  @include mobile{
    font-size: $base-fz - 2px;
  }
}

html, body {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Alegreya", "Helvetica", "sans-serif";
  font-weight: normal;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
  margin: 0;
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.container{
  margin: 0 auto;
  padding: 0 rem(24px);
  width: 100%;
  max-width: $width;
  position: relative;
}
*, *::after, *::before {
  box-sizing: inherit;
}
img{
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
  color: $color-title;
}
p{
  margin: 0;
}
a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
 }

table {
  border-collapse: collapse;
  border-spacing: 0;
 }
