// Width
$width: 990px;
$base-fz: 16px;
// Colors
$color-bg-1: #86c3d7;
$color-bg-2: #f8faf9;
$color-bg-icon: #f2f5f4;
$color-white: #ffffff;
$color-gray: #f3f5f3;
$color-green: #365a49;
$color-dark-green: #1a211e;
$color-title: #000000;
$color-text: #666666;
$color-focus: #dee2bd;

// breakpoints
$tablets: 768px;
$mobile: 480px;


// Z-index
$z-fixed-menu: 100;


