.advantages{
  display: flex;

  @include mobile{
    flex-direction: column;
  }
  &__item{
    flex: 1;
    padding-right: 3%;
    position: relative;
    
    @include mobile{
      padding-right: 0;
      margin-bottom: rem(18px);
    }

    &:last-child{
      padding-right: 0;
      &:after{
        display: none;
      }
    }

    &:after{
      content: url(../img/bg/bg_why_decore.png);
      position: absolute;
      top: rem(50px);
      right: 0;
      transform: translateX(50%);

      @include tablets{
        display: none;
      }
    }
  }
}