.advantages-section{
  background: url(/img/bg/bg_why_1.png) left top 50% no-repeat;
  position: relative;

  &:after{
    content: url(/img/bg/bg_why_decore_2.png);
    position: absolute;
    left: 0;
    bottom: -120px;
  }
}