.advantage{
  text-align: center;

  @include mobile{
    display: flex;
    text-align: left;
  }

  &__img{
    margin-bottom: rem(18px);
    @include mobile{
      margin-bottom: 0;
    }
  }
  &__img-wrapper{
    display: inline-block;
    width: rem(124px);
    height: rem(124px);
    background-color: $color-bg-icon;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    @include mobile{
      margin-right: rem(16px);
    }
  }
  &__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .healthy-icon, .tasty-icon, .nutritious-icon{
      width: 75px;
      height: 69px;
      fill: #3d3d3c;
    }
  }
  &__content{
    font-size: rem(18px);

  }
  &__title{
    font-size: rem(28px);
    font-weight: bold;
    margin-bottom: rem(16px);

    @include tablets{
      margin-bottom: rem(6px);
    }
  }
  &__description{
    line-height: 1.2;
  }
}