.benefit{
  display: flex;
  align-items: center;

  &__icon{
    

    .natural-icon, .delivery-icon, .figure-icon{
      width: 44px;
      fill: #c6f7ff;
      margin-right: rem(8px);
    }

  }


  &__text{
    width: rem(84px);
    font-size: rem(16px);
    line-height: 1.2;
  }
}
