.burger-menu{
  width: 24px;
  height: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  top: 3%;
  right: 5%;

  @include tablets{
    display: inline-flex;
  }

  &__line{
    display: block;
    background: $color-white;
    width: 24px;
    height: 4px;
    border-radius: 4px;
  }
}