.contact{
  font-size: rem(24px);

  &__address{
    color: inherit;
    margin-bottom: 0;
    @include mobile{
      margin-bottom: rem(6px);    
    }
  }
  &__phone{
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover{
      text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
  }


  &__phone-number{
    white-space: nowrap;
  }
}
.phone-icon{
  width: 12px;
  height: 11px;
  margin-right: 6px;
  fill: $color-white;
}