
.head-section {
  background: url(../img/bg/bg_hero_0.png) right bottom no-repeat;
  background-color: $color-bg-1;
  max-width: 100%;
  height: 100vh;
  min-height: rem(650px);
  color: $color-white;
  padding: rem(24px) 0 rem(50px);
  position: relative;

  @include tablets{
      background-position: right bottom 91%;
  }
  &:before{
    position: absolute;
    content: url(../img/bg/bg_hero_decore_lft.png);
    left: 0;
    bottom: rem(-58px);
  }
  &:after{
    position: absolute;
    content: url(../img/bg/bg_hero_decore_rgt.png);
    right: 0;
    bottom: rem(-53px);
  }

  &:before, &:after{
    @include tablets{
      display: none;
    }
  }

  &__container{
    background: url(../img/bg/bg_hero_1.png) right bottom / 50% auto no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include tablets{
      background: none;
    }
  }

  &__icons{
    @include tablets{
      display: none;
    }
  }
}

