.heading{
  text-align: center;

  &__title{
    margin-bottom: rem(12px);
  }
  &__subtitle{
    padding: 0 26%;
    font-size: rem(18px);
    line-height: 1.2;
    margin-bottom: rem(57px);
    @include tablets{
      padding: 0 20%;
    }
    @include mobile{
      padding: 0;
    }
  }
}