.hero{
  @include tablets{
    flex: 1;
    display: flex;
    align-items: center;
    // 1. растягиваем блок на всю высоту и выравниваем по вертикали

  }
  &__content{
    width: 46%;
    margin-bottom: rem(68px);
    line-height: 1.2;

    @include tablets{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // 1. решаем проблему с кнопкой, которая рапстягивается на 100%
      align-items: center;
      text-align: center;
      &:before{
        content: "";
        background: url(../img/bg/bg_hero_tablets.png) center center / contain no-repeat;
        width: rem(368px);
        height: rem(366px);
        margin-bottom: rem(10px);
      }
    }
  }
  &__title{
    color: $color-white;
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(10px);
    @include tablets{
      margin-bottom: rem(16px);
    }
  }
  &__description{
    font-size: rem(21px);
    padding-right: 10%;
    margin-bottom: rem(30px);
    @include tablets{
      padding: 0 25%;
    }
    @include mobile{
      padding: 0 10%;
    }
  }

  &__icons{

  }

}