.reviews{

  &__block{
    background: $color-bg-2;
    padding: rem(50px) rem(45px) rem(34px);
    margin-bottom: rem(22px);
    position: relative;
    overflow: hidden;

    @include tablets{
      padding: rem(58px) rem(6px) rem(34px);
    }

    &:before{
      content: "";
      display: block;
      width: rem(90px);
      height: rem(90px);
      background-color: $color-white;
      border-radius: 50%;
      position: absolute;
      top: rem(-60px);
      left: 50%;
      transform: translateX(-50%);
    }

    &:after{
      content: url(../img/bg/bg_review_1.png);
      position: absolute;
      top: 0;
      right: 0;
      }
  }
  &__wrapper{
    display: flex;

    @include tablets{
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }
  &__avatar{
    width: 254px;
    height: 260px;

    @include tablets{
    width: 130px;
    height: 132px;
    margin-bottom: rem(20px);
    }
  }
  &__avatar-img{
    // display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    //чтобы картинка точно не вылезла за блок
    overflow: hidden;
  }

  &__content{
    flex: 1;
    margin-left: rem(20px);
    padding: rem(6px) 0;
    font-size: rem(18px);
    @include mobile{
      margin-left: 0;
    }
  }
  &__title{
    font-size: rem(30px);
    font-weight: bold;
    margin-bottom: rem(18px);
    @include tablets{
      margin-bottom: rem(16px);
    }
  }
  &__text{
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: rem(26px);
    padding-right: 20%;
    @include tablets{
      margin-bottom: rem(18px);
      padding-right: rem(20px) ;
    }
  }
  &__author{
    font-weight: bold;
    color: $color-title;
  }

  &__switch{
    display: flex;
    justify-content: center;
  }
}