.social{

  &__list{
    display: flex;
    height: 22px;
    align-items: center;
  }
  &__item{
    margin-right: rem(22px);
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    .vk-icon, .fb-icon, .inst-icon, .tw-icon{
      fill: #b2b2b2;
      width: 20px;
      &:hover{
        fill: #000;
      }
    }
  }
}